body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;

}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}


footer {
    background-color: #35424a;
    color: #ffffff;
    padding: 10px 0;
    margin: 20px 0 0 0;
    text-align: center;
}

ul {
    padding-left: 1.2rem;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}